// @import 'variables';
// @import 'mixins';
// @import 'traveler-page';
// @import 'agent-page';
// ??@import 'login-page'??;
// $primary-background: ;
html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Bree Serif', sans-serif;
}

.hidden {
  display: none;
}
//==========================Different Backgrounds==================

.loginBody {
  background-image: url('../images/LoginBackground.jpg');
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

.travelerBody {
  background-image: url('../images/Traveler3.jpg');
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

.agencyBody {
  background-image: url('../images/TravelBackground.jpg');
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
}

//=====================Login Box Items========================

.login-heading {
  color: black;
  font-size: 3em;
  padding-left: 1em;
}

.login-container {
  position: relative;
  background: white;
  width: 28em;
  padding-bottom: 2em;
  border-radius: 5px;
}

.login-inputs {
  display: block;
  font-family: 'open sans';
  border-radius: 5px;
  margin: 5px;
  font-size: 150%;
  padding: 10px;
  padding-left: 50px;
}

#sub-button {
  background-color: green;
  color: white;
  text-align: center;
  padding-left: 0px;
  width: 18em;
}

#letter {
  position: absolute;
  padding-left: 15px;
  padding-top: 10px;
}

#lock {
  position: absolute;
  padding-left: 15px;
  padding-top: 10px;
}

.warning-text {
  color: red;
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 15px;
}

//==================Traveler Nav========================

.traveler-nav {
  width: 100%;
  height: 2em;
  background-color: #EDE7B1;
  font-size: 3em;
  display: flex;
  text-align: center;
  border: solid 1px black;
  flex-direction: column;
  padding-top: 10px;
  position: relative;
}

.traveler-button-container {
  position: absolute;
  top: 2;
  right: 10px;

}

.traveler-button {
  border-radius: 15px;
  font-size: 0.3em;
  background-color: #8BB6CC;
  color: white;
  padding: 5px 15px 5px 15px;
  &:hover {box-shadow: 2px 2px #000000; cursor: pointer;}
}
//==================Destination Cards====================

.destinations-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: #D7F2FE;
  border: 2px solid #000000;
  padding-bottom: 10px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 18px;
  border-radius: 4px;
}

.destination-description {
  background-color: #EDE7B1;
  padding: 10px;
}

.description-background-flex {
  background: inherit;
}

.destination-name {
  font-size: 1.5em;
  font-weight: bold;
}

.card-picture {
  border: 2px solid #000000;
  height: 200px;
  margin: 10px 2% 10px 2%;
  width: 95%;
}

.book-destination {
  &:hover {opacity: 0.8; cursor: pointer;}

}

.card-cost-info {
  font-size: 1.2em;
  margin: 5px;
  font-style: italic;
}

.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.request-inputs {
  margin-bottom: 5px;
}

//============Travelers Current Trips============

.traveler-trips-info {
  padding-top: 2px;
  margin: 0px;
  font-size: 0.8em;
}

.traveler-trips-span {
  text-decoration: underline;
  color: #678464;
}

.travelers-trips {
  background-color: #85C7DE;
  border-radius: 15px;
}

.total-spent {
  padding: 15px;
  color: black;
  font-size: 1.1em;
  background-color: floralwhite;
  width: 60%;
  border-radius: 5px;
  border: solid 1px black;
  margin-top: 10px;
}

.filter-by {
  text-decoration: underline;
  font-weight: bolder;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.filter-buttons.approve-button {
  font-size: 0.8em;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.pending-filter.filter-buttons,
.approved-filter.filter-buttons {
  background-color: #8BB6CC;
}


//===================Agent Nav Bar==============================
.agent-button {
  background-color: green;
}

//===================Agent RequestsPage==============================
.agent-display-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.request-heading {
  background-color: #EDE7B1;
  border: solid 1px black;
  margin-left: 30px;
  width: 90%;
  align-self: center;
  margin-bottom: 0;
}

.request-table {
  border: solid 1px black;
  margin-left: 30px;
  background-color: white;
  border-color: black;
  padding: 5px;
  border-collapse: collapse;
  width: 90%;
}

th {
  text-decoration: underline;
  padding: 8px;
  border: solid 1px #cccccc;
}

td {
  border: 1px solid #cccccc;
  padding: 8px;
  text-align: center;
}

tr {
  padding: 10px 5px;
  border: 1px solid #cccccc;
  margin: 5px;
}



.approve-button {
  border: solid 1px black;
  border-radius: 15px;
  color: white;
  background-color: green;
  &:hover {box-shadow: 2px 2px #000000; cursor: pointer}
}

.deny-button {
  border: solid 1px black;
  color: white;
  border-radius: 15px;
  background-color: red;
  &:hover {box-shadow: 2px 2px #000000; cursor: pointer}
}
.approved-message {
  color: green;
  font-style: italic;
  padding-left: 5px;
}

.denied-message {
  color: red;
  font-style: italic;
  padding-left: 30px;
}

.row-two-clear {
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.todays-trips-container {
  width: 75%;
  text-align: center;
  margin-right: 30px;
  margin-top: 30px;
  background-color: #D7F2FE;
  border-radius: 15px;
  border: solid 1px #cccccc;
}

.todays-trips-heading {
  border-bottom: solid 1px #cccccc;
  margin-bottom: 0;
}

.todays-trips-entry {
  border-bottom: dashed 1px #cccccc;
  // margin-top: 15px;
  padding: 15px;
  margin: 0;
}

//===================Agent Search Page==============================
