@import 'variables';
@import 'mixins';
@import 'traveler-page';
@import 'agent-page';

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Bree Serif', sans-serif;
}
//==========================Different Backgrounds==================
.loginBody {
  @include page-backgrounds('../images/LoginBackground.jpg');
}

.travelerBody {
  @include page-backgrounds('../images/Traveler3.jpg');
}

.agencyBody {
  @include page-backgrounds('../images/TravelBackground.jpg')
}
//=====================Login Box Items========================
.login-heading {
  color: black;
  font-size: 3em;
  padding-left: 1em;
}

.login-container {
  position: relative;
  background: white;
  width: 28em;
  padding-bottom: 2em;
  border-radius: $radius-small;
}

.login-inputs {
  display: block;
  font-family: 'open sans';
  border-radius: $radius-small;
  margin: $margin-small;
  font-size: 150%;
  padding: $padding-small;
  padding-left: 50px;
}

#letter {
  @include input-images();
}

#sub-button {
  background-color: green;
  color: white;
  text-align: center;
  padding-left: 0px;
  width: 18em;
}

#lock {
  @include input-images();
}

.warning-text {
  color: red;
  font-size: 1.25em;
  font-weight: bold;
  padding-left: 15px;
}
