$background-tan: #EDE7B1;
$background-lightblue: #D7F2FE;
$background-blue: #8BB6CC;
$radius-medium: 15px;
$radius-small: 5px;
$border-black: solid 1px black;
$border-gray: solid 1px #CCCCCC;
$padding-small: 10px;
$margin-small: 5px;
$light-gray: #CCCCCC;
